In [1]:
# Importing the required Libraries
import selenium 
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import re
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.chrome.service import Service

In [2]:
s = Service("msedgedriver.exe")

## Scraping Data From Yatra.com:

In [56]:
url =  'https://www.yatra.com/'
driver = webdriver.Edge('msedgedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver
i=0
while(i<10):
   driver.execute_script("window.scrollBy(0,100)") # scroll down to get access to data for scraping
   i+=1

In [57]:
flturl =[] #creating an empty list which would contain all the scraped url

In [58]:
#Scraping all the necessary url data from which to scrape the required air fare data
flturl_tag = driver.find_elements_by_xpath("//a[@class='VueCarousel-slide items']")

for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
        
locbtn1 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[2]')
locbtn1.click()
    
for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
    time.sleep(1)
    
locbtn2 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[3]')
locbtn2.click()
    
for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
    time.sleep(1)
    
locbtn3 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[4]')
locbtn3.click()
    
for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
    time.sleep(1)
    
locbtn4 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[5]')
locbtn4.click()
    
for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
    time.sleep(1)
    
locbtn5 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[6]')
locbtn5.click()
    
for u in flturl_tag:
    try:
        flturl.append(u.get_attribute("href"))
    except:
        flturl.append('-')
    time.sleep(1)

In [59]:
len(flturl)

120

In [61]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= []  #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price
n = [] #empty list to contain all the scraped url data for return flights

In [ ]:
for l in flturl:
    driver.get(l) #loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
   
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text) #finds all airline name elements and appends them to airline list
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag: 
          fltnum.append(i.text) #finds all airline flightnumber elements and appends them to flightnumber list
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text) #Appends the flight date element of the current urlweb page for 10 times to deptdate list and repeats for every url webpage""" 
    except:
        deptdate.append('-')

In [69]:
for l in flturl:
    driver.get(l) #loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    ltag= driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div[3]/div[1]/div[1]/article/div[2]/strong[5]/a")
    for u in ltag:
        try: 
         n.append(u.get_attribute("href")) 
        except:
         n.append('-') #finds all url elements of return flights and appends them to the empty list

InvalidArgumentException: Message: invalid argument
  (Session info: MicrosoftEdge=97.0.1072.76)

In [72]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-') #Appends the flight date element of the current url web page for total number of airline names on the webpage to deptdate list and repeats for every url webpage"""

In [74]:
#Extracting Air Fare Data from URL webpages of return flights, program functions exactly same as above

for l in n:
    driver.get(l)
    time.sleep(4)
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text)
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [78]:
dest=[] #empty list to contain destination location data
source=[]   #empty list to contain source location data
for i in range(0,len(src),2):  
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) #splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively."""

In [80]:
len(airline),len(fltnum),len(duration),len(src),len(deptdate),len(stops),len(price)

(1050, 1050, 1525, 2100, 1572, 1465, 1050)

In [81]:
#Creating FlightDF Data Frame with the scraped data
FlightDF=pd.DataFrame({})
FlightDF['Airline']=airline[:1050]
FlightDF['Flight Number']=fltnum[:1050]
FlightDF['Date of Departure']=deptdate[:1050]
FlightDF['From']=src[:1050]
FlightDF['To']=dest[:1050]
FlightDF['Duration']=duration[:1050]
FlightDF['Total Stops']=stops[:1050]
FlightDF['Price']=price[:1050]
FlightDF

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,IndiGo,6E-171,"Wed, Feb 16",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
1,IndiGo,6E-6202,"Wed, Feb 16",Mumbai,Mumbai,2h 05m,Non Stop,"2,410"
2,Air Asia,I5-764,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
3,IndiGo,6E-2054,"Wed, Feb 16",Mumbai,Mumbai,2h 10m,Non Stop,"2,410"
4,IndiGo,6E-5001,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...
1045,IndiGo,6E-435/426,-,New Delhi,Pune,2h 30m,1 Stop,"3,738"
1046,IndiGo,6E-325/528,-,Mumbai,Pune,2h 35m,1 Stop,"3,738"
1047,IndiGo,6E-435/232,-,New Delhi,Pune,5h 50m,1 Stop,"3,738"
1048,Air India,AI-412/849,-,Mumbai,Pune,8h 45m,1 Stop,"3,798"
1049,Air India,AI-812/851,-,New Delhi,Pune,9h 05m,1 Stop,"3,798"

## Scraping Data from "easemytrip.com" :

In [ ]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= []  #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price
n = [] #empty list to contain all the scraped url data for return flights

In [46]:
url =  'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver = webdriver.Edge('msedgedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver

In [88]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BLR-Bangalore-India|21/03/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE&IsDoubleSeat=false']

In [48]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [49]:

for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [50]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-') #Appends the flight date element of the current url web page for total number of airline names on the webpage to deptdate list and repeats for every url webpage"""

In [51]:
Price = list(filter(None, price))#removing blank elements from list

In [52]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) #splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively.

In [53]:
#Creating FlightDF Data Frame with the scraped data
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price})

In [54]:
FlightDF2

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,SpiceJet,SG- 191,Mar 21,Delhi,Bangalore,02h 30m,non-stop,"3,169"
1,SpiceJet,SG- 143,Mar 21,Delhi,Bangalore,02h 45m,non-stop,"3,169"
2,SpiceJet,SG- 534,Mar 21,Delhi,Bangalore,02h 45m,non-stop,"3,169"
3,Indigo,6E-2331,Mar 21,Delhi,Bangalore,06h 35m,1-stop,"2,810"
4,Indigo,6E- 221,Mar 21,Delhi,Bangalore,05h 15m,1-stop,"2,989"
...,...,...,...,...,...,...,...,...
220,Vistara,UK-847,Mar 21,Delhi,Bangalore,04h 50m,1-stop,"9,105"
221,SpiceJet,SG-8946,Mar 21,Delhi,Bangalore,25h 40m,1-stop,"9,788"
222,SpiceJet,SG-8941,Mar 21,Delhi,Bangalore,20h 15m,1-stop,"9,867"
223,Air India,AI-885,Mar 21,Delhi,Bangalore,10h 05m,1-stop,"13,200"
224,Air India,AI-883,Mar 21,Delhi,Bangalore,23h 00m,1-stop,"13,200"

### Scraping data from "easemytrip":

In [97]:
url =  'https://www.easemytrip.com/'
driver = webdriver.Edge('msedgedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver

In [98]:
#Storing the required urls for web scraping in a list
n = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|PNQ-Pune-India|04/04/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&CouponCode=&ompAff=&bc=&ISWL=']

In [99]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [100]:

for l in n:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [101]:
for l in n:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-') #Appends the flight date element of the current url web page for total number of airline names on the webpage to deptdate list and repeats for every url webpage"""

In [102]:
Price = list(filter(None, price))#removing blank elements from list

In [103]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) #splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively.

In [104]:
#Creating FlightDF Data Frame with the scraped data
FlightDF3= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price})

In [106]:
FlightDF3

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E-2056,Apr 04,Delhi,Pune,05h 40m,1-stop,"2,197"
1,Indigo,6E- 198,Apr 04,Delhi,Pune,09h 00m,1-stop,"2,197"
2,Indigo,6E-5014,Apr 04,Delhi,Pune,10h 35m,1-stop,"2,197"
3,AirAsia,I5-768,Apr 04,Delhi,Pune,01h 55m,non-stop,"2,246"
4,AirAsia,I5-784,Apr 04,Delhi,Pune,02h 30m,non-stop,"2,246"
...,...,...,...,...,...,...,...,...
58,Air India,AI-441,Apr 04,Delhi,Pune,41h 40m,2+-stop,"7,453"
59,Air India,AI-636,Apr 04,Delhi,Pune,44h 25m,2+-stop,"7,453"
60,GO FIRST,G8- 101,Apr 04,Delhi,Pune,05h 35m,1-stop,"7,470"
61,GO FIRST,G8- 105,Apr 04,Delhi,Pune,13h 55m,1-stop,"7,470"
62,Indigo,6E- 291,Apr 04,Delhi,Pune,11h 05m,2+-stop,"11,520"

In [123]:
driver= webdriver.Chrome('chromedriver.exe')
link= 'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver.get(link)
driver.maximize_window()

In [124]:
#Storing the required urls for web scraping in a list
link = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|12/04/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&&IsDoubleSeat=false']

In [125]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [127]:
for k in link:
    driver.get(k)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [128]:
for l in link:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-') #Appends the flight date element of the current url  web page for total number of airline names on the webpage to deptdate list and repeats for every url webpage

In [129]:
Price = list(filter(None, price))#removing blank elements from list

In [130]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])#splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively.

In [131]:
#Creating FlightDF Data Frame with the scraped data
FlightDF4= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price})

In [132]:
FlightDF4

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,Indigo,6E- 171,Apr 12,Delhi,Mumbai,02h 05m,non-stop,"2,410"
1,GO FIRST,G8- 530,Apr 12,Delhi,Mumbai,02h 05m,non-stop,"2,410"
2,Indigo,6E-6202,Apr 12,Delhi,Mumbai,02h 05m,non-stop,"2,410"
3,Indigo,6E-2176,Apr 12,Delhi,Mumbai,02h 05m,non-stop,"2,410"
4,Indigo,6E-5041,Apr 12,Delhi,Mumbai,02h 05m,non-stop,"2,410"
...,...,...,...,...,...,...,...,...
202,Air India,AI-764,Apr 12,Delhi,Mumbai,19h 30m,1-stop,"6,974"
203,Indigo,6E- 736,Apr 12,Delhi,Mumbai,10h 00m,1-stop,"7,932"
204,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 00m,1-stop,"8,276"
205,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 05m,1-stop,"8,276"
206,Air India,AI-801,Apr 12,Delhi,Mumbai,29h 10m,1-stop,"8,789"

## Merging all the DF files:

In [133]:
FlightData = pd.concat([FlightDF,FlightDF2,FlightDF3,FlightDF4],ignore_index=True)

In [135]:
FlightData

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,IndiGo,6E-171,"Wed, Feb 16",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
1,IndiGo,6E-6202,"Wed, Feb 16",Mumbai,Mumbai,2h 05m,Non Stop,"2,410"
2,Air Asia,I5-764,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
3,IndiGo,6E-2054,"Wed, Feb 16",Mumbai,Mumbai,2h 10m,Non Stop,"2,410"
4,IndiGo,6E-5001,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...
1540,Air India,AI-764,Apr 12,Delhi,Mumbai,19h 30m,1-stop,"6,974"
1541,Indigo,6E- 736,Apr 12,Delhi,Mumbai,10h 00m,1-stop,"7,932"
1542,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 00m,1-stop,"8,276"
1543,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 05m,1-stop,"8,276"
1544,Air India,AI-801,Apr 12,Delhi,Mumbai,29h 10m,1-stop,"8,789"

In [136]:
FlightData.to_csv('Flightscrape.csv') # Saving as .csv file

## Scrapping more Data as the data is inadequate for processing:

In [2]:
driver= webdriver.Chrome('chromedriver.exe')
link= 'https://www.easemytrip.com/?utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE'
driver.get(link)
driver.maximize_window()

In [3]:
#Storing the required urls for web scraping in a list
link = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|17/02/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&utm_source=google&utm_medium=cpc&utm_campaign=14425253924&utm_content=128139253602&utm_term=easemytrip&utm_campaign=14425253924&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=128139253602&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDlT5YOtVqr_cBvopvRV97poc_Qf54b5aTshxY-ho9drT4c4ICLdOLBoC8YcQAvD_BwE&IsDoubleSeat=false']

In [4]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [5]:
for k in link:
    driver.get(k)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:   #finds all airline flightnumber elements and appends them to flightnumber list
          fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [6]:
for l in link:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-') #Appends the flight date element of the current url  web page for total number of airline names on the webpage to deptdate list and repeats for every url webpage

In [7]:
Price = list(filter(None, price))#removing blank elements from list

In [8]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i])#splits the data elements in src list into source and destination data elements and appends them to source and destination lists respectively.

In [9]:
#Creating FlightDF Data Frame with the scraped data
FlightDF5= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate,'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price})

In [10]:
FlightDF5

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,AirAsia,I5-788,Feb 17,Delhi,Mumbai,14h 15m,1-stop,"5,001"
1,Air India,AI-9643,Feb 17,Delhi,Mumbai,20h 50m,1-stop,"5,087"
2,Indigo,6E- 369,Feb 17,Delhi,Mumbai,10h 25m,1-stop,"5,447"
3,SpiceJet,SG-8709,Feb 17,Delhi,Mumbai,02h 10m,non-stop,"5,955"
4,SpiceJet,SG-8701,Feb 17,Delhi,Mumbai,02h 15m,non-stop,"5,955"
...,...,...,...,...,...,...,...,...
205,Air India,AI-512,Feb 17,Delhi,Mumbai,08h 55m,1-stop,"14,670"
206,GO FIRST,G8- 286,Feb 17,Delhi,Mumbai,07h 30m,1-stop,"15,195"
207,GO FIRST,G8- 286,Feb 17,Delhi,Mumbai,08h 50m,1-stop,"15,195"
208,Air India,AI-885,Feb 17,Delhi,Mumbai,11h 30m,1-stop,"17,925"
209,Air India,AI-885,Feb 17,Delhi,Mumbai,05h 40m,1-stop,"18,555"

In [11]:
FlightDF =  pd.read_csv('Flightscrape.csv')

In [13]:
FlightDF

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0,IndiGo,6E-171,"Wed, Feb 16",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
1,1,IndiGo,6E-6202,"Wed, Feb 16",Mumbai,Mumbai,2h 05m,Non Stop,"2,410"
2,2,Air Asia,I5-764,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
3,3,IndiGo,6E-2054,"Wed, Feb 16",Mumbai,Mumbai,2h 10m,Non Stop,"2,410"
4,4,IndiGo,6E-5001,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...,...
1540,1540,Air India,AI-764,Apr 12,Delhi,Mumbai,19h 30m,1-stop,"6,974"
1541,1541,Indigo,6E- 736,Apr 12,Delhi,Mumbai,10h 00m,1-stop,"7,932"
1542,1542,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 00m,1-stop,"8,276"
1543,1543,GO FIRST,G8- 191,Apr 12,Delhi,Mumbai,09h 05m,1-stop,"8,276"
1544,1544,Air India,AI-801,Apr 12,Delhi,Mumbai,29h 10m,1-stop,"8,789"

### Mearging New DATA with old Scraped file:

In [14]:
NewFlightData= pd.concat([FlightDF,FlightDF5])
NewFlightData

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0.0,IndiGo,6E-171,"Wed, Feb 16",New Delhi,Mumbai,2h 05m,Non Stop,"2,410"
1,1.0,IndiGo,6E-6202,"Wed, Feb 16",Mumbai,Mumbai,2h 05m,Non Stop,"2,410"
2,2.0,Air Asia,I5-764,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
3,3.0,IndiGo,6E-2054,"Wed, Feb 16",Mumbai,Mumbai,2h 10m,Non Stop,"2,410"
4,4.0,IndiGo,6E-5001,"Wed, Feb 16",New Delhi,Mumbai,2h 10m,Non Stop,"2,410"
...,...,...,...,...,...,...,...,...,...
205,NaN,Air India,AI-512,Feb 17,Delhi,Mumbai,08h 55m,1-stop,"14,670"
206,NaN,GO FIRST,G8- 286,Feb 17,Delhi,Mumbai,07h 30m,1-stop,"15,195"
207,NaN,GO FIRST,G8- 286,Feb 17,Delhi,Mumbai,08h 50m,1-stop,"15,195"
208,NaN,Air India,AI-885,Feb 17,Delhi,Mumbai,11h 30m,1-stop,"17,925"
209,NaN,Air India,AI-885,Feb 17,Delhi,Mumbai,05h 40m,1-stop,"18,555"

In [15]:
NewFlightData.to_csv('FlightscrapeNew.csv') # Saving as .csv file